{% extends 'blog/base.html' %}

{% block title %}Home - My Blog{% endblock %}

{% block content %}

    <h1 class="blog-title-header">Welcome to My Blog</h1>
    <a href="{% url 'blog:create_post' %}" class="btn btn-primary" >Create New Post</a>
    <p class="subtitle-text">Latest posts</p>

    {% for post in posts %}
        <div class="card my-3 blog-card">
            <span class="category-badge category-badge--red">
                {{ post.category }}
            </span>
            <a href="{% url 'blog:post_detail' post.slug %}" class="post-title-link">
                <h2>{{ post.title }}</h2>
            </a>
            <p class="post-meta mt-3">
                This was created by {{ post.author }} on {{ post.created_at|date:"F d, Y" }}
            </p>
            <p>{{ post.body|truncatechars:150 }}</p>
        </div>
        {% empty %}
            <p>No blog posts yet.</p>
        {% endfor %}
        
{% endblock %}