{% extends 'blog/base.html' %}

{% block title  %}{{ post.title }} - My Blog{% endblock %}

{% block content %}
    <span style="font-size:.75rem; background:#E1F5EE;color:#0F6E56;padding:2px 8px;border-radius:20px;">
        {{ post.category }}
    </span>
    <h1 style="margin: .75rem 0 .25rem;">{{ post.title  }} </h1>
    <p style="font-size:.85rem; color: #888; margin-bottom: 2rem;">
        {{ post.created_at|date:"N j, Y" }} - {{ post.author }}
    </p>
    <a href="{% url 'blog:update_post' slug=post.slug %}">Edit Post</a>
    <div style="line-height: 1.8; color: #333;">{{ post.body }}</div>
    <a href="{% url 'blog:home' %}">Back to Home</a>
{% endblock %}